@charset "UTF-8";

.rodape {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  background: var(--cor-50);
  padding: 2rem 5rem;
  /* margin-top: auto;
  position: fixed;
    bottom:0;
    left: 0; */

}
.rodape .footer__container {
  display: flex;
  justify-content: space-between;
}
.rodape .footer__container .footer__autor {
  display: flex;
  gap: 5px;
  flex: 1;
  font-size: 14px;
}
.rodape .footer__container .footer__autor #autor {
  color: var(--cor-verde);
}

.rodape .footer__container .footer__rede_socias {
  font-size: 14px;
  display: flex;
  gap: 20px;
  /* flex: 1; */
}
.rodape .footer__container .footer__rede_socias .dois {
  color: var(--cor-verde);
}
.rodape .footer__info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;

  color: #ccc;
  font-size: 12px;
}

@media (max-width: 850px) {
  .rodape .footer__container .footer__autor {
    gap: 5px;
    font-size: 11px;
  }
  .rodape .footer__container .footer__autor #autor {
    color: var(--cor-verde);
  }
  .rodape .footer__container .footer__rede_socias {
    font-size: 11px;
    gap: 10px;
  }
  .rodape .footer__container .footer__rede_socias .dois {
    color: var(--cor-verde);
  }
  .rodape .footer__info {
    display: flex;
    justify-content: space-between;
    color: #ccc;
    font-size: 10px;
  }
}

/* ############################################ */
/* Celulares */
@media (max-width: 580px) {
  .rodape {
    gap: 15px;
    background: var(--cor-50);
    padding: 1rem;
    justify-content: center;
  } 
  .rodape .footer__container {
    gap: 4px;
  }
  .rodape .footer__container .footer__autor {
    font-size: 10px;
  }
  .rodape .footer__container .footer__autor #autor {
    color: var(--cor-verde);
  }
  .rodape .footer__container .footer__rede_socias {
    font-size: 10px;
    gap: 10px;
  }
  .rodape .footer__container .footer__rede_socias .dois {
    color: var(--cor-verde);
  }
  .rodape .footer__info {
    display: flex;
    justify-content: space-between;
    color: #ccc;
    font-size: 8px;
  }
}
