@charset "UTF-8";

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  background: var(--cor-50);
  /* margin-bottom: 5000px; */
}
.cabecalho {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 5rem;
  align-items: center;
}
.cabecalho .logo {
  display: flex;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.5rem;
}
.cabecalho .logo .alura {
  color: #fff;
}
.cabecalho .logo .greek {
  color: var(--cor-verde);
}
.cabecalho .cabecalho__pesquisa {
  display: flex;
  /* padding: 5px; */
}
.cabecalho .cabecalho__pesquisa .pesquisa__input{
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: var(--cor-100);
  font-size: 18px;
}
.cabecalho .cabecalho__pesquisa .pesquisa__butao {
  display: flex;
  background: var(--cor-cinza);
  padding: 5px;
  border-radius: 0 5px 5px 0;
  background-color: var(--cor-verde);
  cursor: pointer;
}
.cabecalho .menu-openner {
  margin-right: 15px;
  font-size: 26px;
  background-color: var(--cor-verde);
  padding: 5px 20px;
  border-radius: 5px;
}
.cabecalho .menu-openner span {
  margin-right:10px;
}
.cabecalho .cabecalho__add {
  font-size: 18px;
}
.cabecalho .cabecalho__add .fa {
  color: var(--cor-verde);
}

/* ################################################### */
/* tablet */
@media(max-width : 850px) {
  .cabecalho .logo {
    font-weight: 700;
    font-size: 1.2rem;
  }
  .cabecalho .cabecalho__pesquisa {
    display: none;
  }
  .cabecalho .menu-openner {
    margin-right: 0px;
    font-size: 19px;
    padding: 3px 10px;
  }
}

/* ############################################### */
/* Celulares */
@media (max-width: 610px) {
  .header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 80px;
    background: var(--cor-50);
  } 
  .cabecalho {
    padding: 1.5rem;
  } 
  .cabecalho .logo {
    font-weight: 700;
    font-size: 1rem;
  }
  .cabecalho .cabecalho__pesquisa {
    display: none;
  }
  .cabecalho .menu-openner {
    font-size: 16px;
    padding: 4px 5px;
    color: var(--cor-100);
    font-weight: 600;
  }
 .cabecalho .menu-openner span {
    margin-right: 0px;
  }
  .cabecalho .cabecalho__add {
    font-size: 16px;
  }
  .cabecalho .cabecalho__add .fa {
    font-size: 16px;
  } 
}